// --------------------------------
// - VARIABLES
// --------------------------------

// --- COLORS --- //
$bg-color: #0D85A1;
$font-color: #ccc;
$link-color: #302C5B;


// --- FONTS --- //
$header-font: 'Didact Gothic', sans-serif;
$content-font: 'Arimo', sans-serif;