.projects__overlay{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: fixed;
  overflow: scroll;
  background: $bg-color;
  z-index:0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  &.open{
    width: 100%;
    height: 100%;
    margin:0;
    top:0;
    left:0;
    opacity:1;
    z-index: 500;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
  }
  .close{
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid;
    color: white;
    border-radius: $borderRadius-circle;
    width: 50px;
    height: 50px;
    padding: 7px 4px 0 12px;
    @include vendor-transition();
    @include customise-animation(spin-back, 300ms, 0, 1, ease-out);
    &:hover, &.spin{
      @include vendor-transition();
      @include customise-animation(spin, 300ms, 0, 1, ease-out);
    }
  }

}

.overlay{

  &__title{

    margin: 20px 40px;
    font-weight: 100;
    color:#B1CBCF;

  }

  &__hero{

    position:relative;
    width:100%;
    height:500px;
    margin-top:30px;
    background: url(../img/overlay-pattern.jpg) repeat;

  }

  &__slider{

    max-width:870px;
    width:100%;
    height:500px;
    margin: 30px auto;
    position: relative;

  }

  &__show-more{

    position: absolute;
    bottom: -20%;
    width: 100%;
    text-align: center;
    font-size:100%;
    .overlay__trigger__icon{
      opacity:1;
      color: white;

      i{
        @include vendor-transition(all, 0.25s, ease-in-out, 0.2s);
        transform: rotate(0deg);

      }

      &.go-back{

        i{
          @include vendor-transition(all, 0.25s, ease-in-out, 0.2s);
          transform: rotate(180deg);

        }

      }

      &:hover{
        color: darken($font-color, 15%);
        text-decoration: line-through;
      }
    }

  }

}

.slider{

  &__desktop{

    position: absolute;
    top: 20px;
    left: 20px;
    width:630px;
    height:auto;
    @include breakpoint(630px){
        width:93%;
        margin: 0 auto;
        bottom:5px;
        top: auto;
    }
    @include breakpoint(xs){
        display:none;
    }
    img{
      max-height:100%;
      width: 100%;
    }

  }

  &__phone{

    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 140px;
    height:auto;
    @include breakpoint(xs){
      position: static;
      width: 240px;
      margin: 0 auto;
      padding-top: 15px;
    }
    img{
      max-width:100%;
      width:100%;
    }

  }
}


.overlay__details{

    h3{

      font-size: 1.745em;
      border-bottom: 2px solid;
      margin-top:16vh;

    }

    .project__notes{

      font-size: 1.345em;
      text-align: justify;
      margin-top: 50px;
      font-weight: 200;
      line-height: 1.5em;
    }

    .project__hl{

      list-style-type: hangul-consonant;
      margin-top: 15%;
      margin-left: 15%;
      @include breakpoint(st) {
        margin: 0 0 50px 0;
      }

      &__master-list{

        list-style-type: none;
        @include breakpoint(st){
            width:220px;
            margin: 0 auto;
            padding-left:0;
            text-align:center;
        }

        li{

          ul{

            text-align: left;
            margin-left: 30px;

          }

        }

      }

      a, p{

        font-size: 20px;
        text-transform: uppercase;
        color:$font-color;

      }

      a{
        text-decoration: none;
        @include vendor-transition();
        &:hover{
          @include vendor-transition();
          color: $about-bg;

        }

      }

    }

}