.projects__overlay{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: fixed;
  overflow: scroll;
  background: $bg-color;
  z-index:0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  &.open{
    width: 100%;
    height: 100%;
    margin:0;
    top:0;
    left:0;
    opacity:1;
    z-index: 500;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
  }
  .close{
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 7px 4px 0 12px;
    @include vendor-transition();
    @include customise-animation(spin-back, 300ms, 0, 1, ease-out);
    &:hover, &.spin{
      @include vendor-transition();
      @include customise-animation(spin, 300ms, 0, 1, ease-out);
    }
  }

}

.overlay{

  &__title{

    margin: 20px 40px;
    font-weight: 100;
    color:#B1CBCF;

  }

  &__hero{

    position:relative;
    width:100%;
    height:500px;
    margin-top:30px;
    background: url(../img/overlay-pattern.jpg) repeat;

  }

  &__slider{

    max-width:870px;
    width:100%;
    height:500px;
    margin: 30px auto;
    position: relative;

  }

  &__show-more{

    position: absolute;
    bottom: -20%;
    width: 100%;
    text-align: center;
    font-size:100%;
    a{
      @include vendor-transition();
      @include customise-animation(pulse, 2s, 0, infinite, ease-out);
      color: white;
      &:hover{

      }
    }

  }

}

.slider{

  &__desktop{

    position: absolute;
    top: 20px;
    left: 20px;
    width:630px;
    height:auto;
    img{
      max-height:100%;
      width: 100%;
    }

  }

  &__phone{

    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 140px;
    height:auto;
    img{
      max-width:100%;
      width:100%;
    }

  }
}


.overlay__details{

    h3{

      font-size: 1.745em;
      border-bottom: 2px solid;
      margin-top:16vh;

    }

    .project__notes{

      font-size: 1.345em;
      text-align: justify;
      margin-top: 50px;
      font-weight: 200;
      line-height: 1.5em;
    }

    .project__hl{

      list-style-type: hangul-consonant;
      margin-top: 15%;
      margin-left: 15%;

      &__master-list{

        list-style-type: none;

      }

      a, p{

        font-size: 20px;
        text-transform: uppercase;
        color:$font-color;

      }

      a{
        text-decoration: none;
        @include vendor-transition();
        &:hover{
          @include vendor-transition();
          color: $about-bg;

        }

      }

    }

}