@-webkit-keyframes draw {
  0%{
    stroke-dashoffset: 550;
  }

  100%{
    stroke-dashoffset: 50;
  }
}
@keyframes draw{
  0%{
    stroke-dashoffset: 550;
    fill:none;
  }

  100%{
    stroke-dashoffset: 50;
    fill: #627582;
  }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
@-webkit-keyframes spin-back {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin-back {
  from { transform:rotate(0deg); }
  to { transform:rotate(-360deg); }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.pulse{
  animation-name: pulse;
}

.fadeInUp{
  animation: fadeInTop;
  animation-duration: 1s;
  animation-fill-mode: both;

}