
body {
  color: $font-color;
  height: 100vh;
  &.overlay-open{
    overflow: hidden;
  }
}

.hidden{
  display: none!important;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

#welcome{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66);
  opacity:0.7;
}


.floating{
  position: absolute;
  width: 100%;
}
nav{
  background-color: silver;
}

.section-content{
  padding: 5% 0;
}

.special__button{
    width: 200px;
    height: 50px;
    border: 4px double $bg-color;
    background-color: transparent;
    color:$font-color;
    font-family: $content-font;
    @include cta-text();
    @include vendor-transition();
    &:hover{
      @include vendor-transition();
      color: #000;
      background-color: $bg-color;
      border: 4px double $black;
    }
    &:focus{
      outline: none;
    }
}

#rocket__layer{
  path{
    -webkit-animation: draw 5s;
    animation: draw 5s;
    stroke-dasharray: 550;
  }
}

.underline{

  width: 40%;
  min-width: 250px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px dotted $font-color;

  & > img{
    position: relative;
    top: -15px;
    padding: 0 15px;
  }

  &.contact{

    & > img {

      background-color: $contact-bg;

    }

  }

  &.about{

    & > img{
      top: -20px;
      background-color: $about-bg;

    }

  }

  &.projects{

    & > img{
      top: -20px;
      background-color: $projectgit -bg;

    }

  }

}