.about{

  &__section{
    background-color: $about-bg;
    &-inner{


    }

  }

  &__photo{
    width:98%;
    border-radius: 50%;
    border: 2px double $font-color;
    padding:3px;
    margin:10px;
    &-holder{
      float:left;
      width: 30%;
      margin: 20px 20px 20px 0;
    }
  }

  &__text{
    text-align: justify;
    text-shadow: 1px 1px 1px darken($bg-color, 15%);
    font-size:1.334em;
    &-holder{
      width:67%;
      float:left;
    }
  }

}