.contact{

  &__section{

    height: auto;
    background: $contact-bg;

  }

  &__form{

    &-holder{
      margin:20px;

    }

    &-input{

      height:40px;
      width: 100%;
      border-radius:5px;
      padding: 4px 4px 4px 50px;
    }

    &-textarea{
      width: 100%;
      border-radius:5px;
      padding: 6px 4px 4px 50px;

    }

    &-submit{

      width:100%;
    }


  }

  &__info{

    font-size: 1.3rem;

    &-inner{

      background: $about-bg;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
      font-weight:400;
      height:200px; //TEMP
    }
    &-triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 80px 0 0 80px;
      border-color: #2D2D2D transparent transparent transparent;
      margin-top: 63px;
    }

  }

  &__icon{
    position: relative;
    float: left;
    bottom: -35px;
    left: 10px;
  }

}