.contact{

  &__section{

    height: auto;
    background: $contact-bg;

  }

  &__form{

    &-holder{
      margin:30px 20px;
      position: relative;
    }

    &-input{

      height:40px;
      width: 100%;
      padding: 4px 4px 4px 50px;
      background-color: #364250;
      border: none;
      @include vendor-transition(border, 0.3s, ease-out);

      &:focus{
        outline:none;
        border-bottom: 1px solid $bg-color;
        @include vendor-transition(border, 0.3s, ease-out);

      }
    }

    &-textarea{
      width: 100%;
      padding: 6px 4px 4px 50px;
      background-color: #364250;
      border: none;
      @include vendor-transition(border, 0.3s, ease-out);
      &:focus{
        outline:none;
        border-bottom: 1px solid $bg-color;
        @include vendor-transition(border, 0.3s, ease-out);

      }
    }

    &-submit{

      width:100%;
    }


  }

  &__info{

    font-size: 1.3rem;

    &-inner{

      background: $about-bg;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
      font-weight:400;
      height:200px; //TEMP
    }
    &-triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 80px 0 0 80px;
      border-color: #2D2D2D transparent transparent transparent;
      margin-top: 63px;
    }

  }

  &__icon{
    position: absolute;
    top:4px;
    left: 10px;
    color: $bg-color;
  }

}