// --------------------------------
// - FONTS
// --------------------------------


.text-center {
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i}{
    font-family: $header-font;
    text-transform: uppercase;
  }

  @if $i == 1{
    h#{$i}{
      letter-spacing: 4px;
      font-size: 60px;
      font-weight: $font-thin;
      @include breakpoint(sm){
        font-size: 40px;

      }
    }
  }

  @if $i == 2{
    h#{$i}{
      letter-spacing: 3px;
      font-size: 40px;
      color: lighten($font-color, 25%);
      font-weight: $font-light;
      @include breakpoint(sm){
        font-size: 35px;

      }
    }
  }

  @if $i == 3{
    h#{$i}{
      letter-spacing: 3px;
      font-weight: $font-light;
    }
  }

  @if $i == 4{
    h#{$i}{
      letter-spacing: 2px;
    }
  }

}

p, label, article, aside, a, li{
  font-family: $content-font;
}
