// --------------------------------
// - FONTS
// --------------------------------
// Example of a component SASS file

// Random header size
h1 {
  font-size: 60px;
}

// Random sub-header size
h2 {
  font-size: 40px;
  color: lighten($font-color, 25%);
}

// Random class to center text
.text-center {
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i}{
    font-family: $header-font;
    text-transform: uppercase;
  }

  @if $i == 1{
    h#{$i}{
      letter-spacing: 4px;
    }
  }

  @if $i == 2{
    h#{$i}{
      letter-spacing: 3px;
    }
  }

  @if $i == 3{
    h#{$i}{
      letter-spacing: 3px;
    }
  }

  @if $i == 4{
    h#{$i}{
      letter-spacing: 2px;
    }
  }

}

p, label, article, aside, a, li{
  font-family: $content-font;
}

// Resize on mobile
@media (max-width: 767px){
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }
}

