
.footer{

  position: relative;

  &__canvas{
    position: absolute;
    z-index: 5;
  }

  &__section{

    &-content{
      position: absolute;
      width: 100%;
      height: 100px;
      z-index: 10;
    }

  }

  &__wrapper{



  }

  &__social{

    float:left;

    &-list{

      list-style-type: none;

    }

    &-item{

      display: inline-block;
      margin-left:15px;
      a{

       @include link();


      }

    }

  }

  &__info{

    float:right;
    margin-right:15px;
    p{
      color:$font-color;
    }

  }


}