
section.hero{
  background: $ac-dark;
  .main{
    &__trigger{
      width: 200px;
      height: 50px;
      border: 4px double $bg-color;
      background-color: transparent;
      color:$font-color;
      font-family: $content-font;
      @include cta-text();
      @include vendor-transition();
      &:hover{
        @include vendor-transition();
        color: #000;
        background-color: $bg-color;
        border: 4px double $black;
      }
      &:focus{
        outline: none;
      }
    }

    &__title{
      top:10%;
      opacity:0;
      z-index: 50;
    }

    &__scene{
      overflow: hidden;
    }

  }
}

.row.absolute{
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: -157px;
  margin-left: -100px;
  z-index: 50;
  @include vendor-transition(all, 0.35s, ease-in-out);
  &:hover{
    @include vendor-transition(all, 0.35s, ease-in-out);
    @include scale-element(1.10, 1.10);
  }
}

#scene{
  background: url(../img/deepspace.jpg) no-repeat center center #1b2735;
  background-size: cover;
  height: 100vh;
  @include vendor-transition();
  &.scaled{
    @include scale-element(0.9, 0.9);
    @include vendor-transition();
  }
}



