.menu{

  &__trigger{
    @include vendor-transition();
    width: 45px;
    height:45px;
    background: $bg-color;
    position: absolute;
    top: 20px;
    right:20px;
    border-radius: 50%;
    border: 2px double white;
    cursor: pointer;
    z-index:105;
    &:hover{
      @include vendor-transition();
      -webkit-animation-name: spin;
      -webkit-animation-duration: 300ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;

      animation-name: spin;
      animation-duration: 300ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;

    }

    &-icon{
      img{
        width:30px;
        margin: 5px;
      }
    
    }

  }

  &__content{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: $bg-color;
    width:800px;
    height: 600px;
    top: 50%;
    right:50%;
    margin-top: -300px;
    margin-right: -400px;
    //border-radius: 50%;
    @include vendor-transition();

    &.open {
      opacity: 1;
      visibility: visible;
      height: 100vh;
      width: 100vw;
      z-index: 100;
      top: 50%;
      right:50%;
      margin-top: -50vh;
      margin-right: -50vw;
      border-radius: 0;
      @include vendor-transition();
    }
  }

  &__list{
    opacity:0;
    text-align: center;
    margin-top: 15%;
    font-size: 3em;
    text-transform: uppercase;
    list-style-type: none;
    @include vendor-transition();
    &-item{
      margin: 4%;
      a{
        text-decoration: none;
        font-family: $content-font;
        color:$font-color;
      }
    }
    &.open{
      opacity:1;
      @include vendor-transition();
    }
  }
}