.menu{

  &__trigger{
    @include vendor-transition();
    width: 45px;
    height:45px;
    background: $bg-color;
    position: absolute;
    top: 20px;
    right:20px;
    border-radius: 50%;
    border: 2px double white;
    cursor: pointer;
    z-index:105;
    &:hover{
      @include vendor-transition();
      background-color: transparent;

    }

    &-icon{
      img{
        width:30px;
        margin: 5px;
      }
    
    }

  }

  &__content{
    opacity: 0;
    visibility: hidden;
    background-color: $bg-color;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list{

    &-item{



    }

  }

}