.projects{

  &__section{
    background: $project-bg;

  }

  &__wrapper{

    margin-bottom: 20px;

  }

  &__thumb{

    &-wrapper{

    }
    &-content{
      @include vendor-transition(all, 0.3s, ease-in-out);
      height:400px;
      background: url(http://lorempixel.com/400/400/) no-repeat center center black;
      background-size: cover;
      margin: 5px;
      cursor: pointer;
      &:hover{
        @include vendor-transition(all, 0.3s, ease-in-out);
        @include box-shadow();
        margin-top: -10px;

      }
    }
    &-title{


    }

    &-info{


    }

    &-expand{


    }

  }

}